@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {

    background-color: rgb(215, 215, 215);
    padding: 100px
    
}

h1 {

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 50px;

}

a {

    text-decoration: none;
    color: black;
    font-weight: 700;

}

.zoomIt{
    display:inline-block!important;
    -webkit-transition:-webkit-transform 1s ease-out;
    transition:transform 0.5s ease-out;
    margin-top:px;
}
.zoomIt:hover{
    margin-top:
    -webkit-transform: scale(2);
    transform: scale(2)
}


.color-red {

    color: red;

}

.text-right {

    text-align: end;

}

.list-style {

    list-style: none;

}


img {
    
    height: 350px;
    width: 250;
    padding: 5px;

}

.box-1 {

    height: 350px;
    width: 250px;
    background-color:  rgb(215, 215, 215);
    display: inline-block;
    
}

.box-2 {

    height: 100px;
    width: 250px;
    display: inline-block;
    
}

.text-center {

    text-align: center;

}

.inline {

    display: inline-block;

}